/*
COLORS:
Faded Green: #4E8564
Dark Blue:#1C136B
Dark Gold: #D1B239
greenyellow: greenyellow
wheatish: #eae59c
*/


body {
    background-color: none;
    color:#1C136B;
}

#header {
    background-color:none;
    min-height: 80px 
}

#header >h1 {
    margin:0;
    text-align: center;
    font-family: 'lato', sans-serif;
    position: relative;
    transform: transformY(50%)
}

#nav {
    background-color: #4E8564;
    min-height: 80px;
    font-family: lato, sans-serif;
    height: auto;
}
#nav >ul {
    text-align: center;
    padding: 15px 0 15px 0;
    margin:0;
}
#nav > ul >button{
min-width: 178px;
    color: white;
    background-color: #D1B239;
    border: none;
    padding: 15px 32px;
    transition: background-color .25s;
    border-bottom: 2px solid #4E8564;
}
#nav > ul > button:hover {
    background-color: #D19133;
}
/*
.menu {
    display: flex;
    background-color: aliceblue;
    justify-content: space-around;
    list-style-type: none;
    margin:0;
    position: relative;
    transform: translateY(100%);
    font-family: 'lato', sans-serif;
}
*/
#main-content-wrapper {
    background-color: none;
    width: 80%;
}/*
#middle-wrapper-width {
    background-color: plum;
    display: flex;
}
*/
.side-by-side {
    
}
#main-content-wrapper .image-content {
    text-align: center;
    margin:0 auto;
    margin-top: 50px;
}
.image-content > img {
        max-width: 200px;
    border-radius: 20px;
    border: 4px #4E8564 solid;
}

.image-content > h4 {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #1C136B;
}

.image > h4 > a {
    color: #1C136B;
}

.image-content >h4 > a;hover {
    color: red;
}

#main-content-wrapper article {

}
#main-content-wrapper article h2 {
    text-align: center;
}
#main-content-wrapper article p {
    max-width: 300px;
    margin:0 auto;
}
#main-content-wrapper #skills {
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px
}
#main-content-wrapper #skills span {
    font-weight: 400;
}
#aside-content-Wrapper {
    background-color:plum;
    font-family: 'lato', sans-serif;
    background-color: wheat;
    margin-top: 50px;
}
#aside-right {
    margin: 0 50px 0 8px;
}
#aside-right h3 {
    text-align: center;
}
#latest-work {
    list-style-type: none;
}
#latest-work > li {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px black solid;
}
#latest-work > li:before {
   content: '';
    border-color: transparent #1C136B;
    border-style: solid;
    border-width: .35em 0 .35em .45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: .9em;
    position: relative;
}
#favorite-sites{
    background-image:url(img/apple-camera-desk-office.jpg);
    border-top: 5px #D1B239 solid;
    border-bottom: 5px #D1B239 solid;
    text-align: center;
}
#favorite-sites ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 40px
}
footer { 
    background-color:white;
    text-align: center;
    font-family: 'lato', sans-serif;
    min-height: 100px;
}

footer > h1 {
    margin:0;
    transform: translateY(50%)
}
.max-width {
    margin:0 auto;
    max-width: 960px;
}

/*Boostrap Related*/
.container-fluid {
    padding:0;
}
#favorite-sites > .row > .col-md-4 > img {
    margin:0 auto;
}